body,html{
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: 100%;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/bgd.jpg);
    background-position: center center;
}

header{
    padding: 0 100px;
    height: 80px;
    width: 100%;
    background: rgba(225,225,225,.2);
    transition: .5s;
    box-sizing: border-box;
}

ul{
    display: flex;
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    transition: .5s;
}

ul li{
    list-style: none;
}

ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    padding: 14px 8px;
    color: antiquewhite;
    margin: 20px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

ul li a:hover{
    background: #000;
    color: #fff;
}

.toggle{
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    background: #f00;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

@media(max-width: 600px){
    .toggle{
        display: block;
    }

    header{
        padding: 0;
    }

    header ul{
        display: none;
        width: 100%;
        top: 80px;
        background: rgba(255,255,255,.1);
    }

    header ul.active{
        display: block;
    }

    header ul li a{
        margin: 0;
        text-align: center;
        /* display: block; */
    }
}